*{
   
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

::-webkit-scrollbar {
    display: none;
}

body{
    background-color: black;
}

.body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-color: #000000;
    color: #0d0c0c;
    /* width: 100vw; */
    box-sizing: border-box;
    /* border: 5px solid #dacdcd; */

    /* padding: 0 2rem 2rem 2rem; */
}

.body .unfold-icon{
    
    
    /* width: 100%; */
    /* height: 100vh; */
    position: relative;
    top: 7rem;
    /* height: 0vh; */
    z-index: 999;
    /* border: 15px dashed #dacdcd; */
    

}
/* write a rotate animation */
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.body .unfold-icon img{
    
    animation: rotate 20s infinite;
    /* border: 5px solid #dacdcd; */
}

.unfold-icon:hover{
    cursor: pointer;
    transform: scale(0.2);
   /*  */
}

header{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 22vh;
    background-color: #fdfdfd;
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 0px;
    /* border: 2px dashed #241c1c; */
    margin-bottom: 2rem;


}

header .upper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #ffffff;
    z-index: 999;
    
    padding: 0 2rem 0 2rem;
    /* border: 2px solid #241c1c; */

}

.upper .logo {
    
    position: relative;
    left: -50px;
    z-index: -1;
    /* border: 5px solid #dacdcd; */
}

.upper .search-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    height: 40px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    border-radius: 0 10px 10px 0;
    /* border: 1px solid #241c1c; */
}

.search-bar input{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 1rem 0 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #241c1c;
    border-bottom: 5px solid #e9a3a3;
}

.search-bar button{
    width: 10%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #e9a3a3;
    color: #000;
    border-radius: 0 10px 10px 0;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    
    
    /* border-bottom: 5px solid #e9a3a3; */

}

.upper .toggle{
    position: relative;
    left: 100px;
    z-index: 999;
    /* border: 5px solid #dacdcd; */
}


header .lower{
    
    width: 100%;
    height: 7vh;
    background-color: rgb(244, 239, 239);
}




.container{
    
    position: relative;
    top: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: fit-content;
    height: fit-content;
    background-color: #1e1d1d;
    /* border: 5px solid #dacdcd; */
    border-radius: 10px;
    padding: 10px;
    margin: 1rem;
}

.image{

    background-color: #fff;
    border-radius: 10px;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 400px;
    height: max-content;
}

.image a{
    text-decoration: none;
    color: #2836d4;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem;
    padding: 1rem;


}

.image img{

    width: 300px;
    height: 300px;
   border: 1px solid #ddc9c9;
    border-radius: 10px;
    
    margin: 1rem;
}
.image h1{
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}   

.image p{
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}



/*
Animations: 

 */


 